  GNU nano 4.8                                                                                                .gitignore                                                                                                           

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb





build/
cmake-build-debug/
.idea/
boost
Debug/

.vscode/

test/
benchmark/
/firmware/Microchip/SAMD51/dist/