[submodule "deps/boost"]
	path = deps/boost
	url = https://github.com/boostorg/boost.git
[submodule "deps/libserialport"]
	path = deps/libserialport
	url = git://sigrok.org/libserialport
[submodule "benchmark/samples"]
	path = benchmark/samples
	url = https://github.com/CyberGrandChallenge/samples.git
[submodule "benchmark/cb-multios"]
	path = benchmark/cb-multios
	url = https://github.com/trailofbits/cb-multios.git
[submodule "deps/z3"]
	path = deps/z3
	url = git@github.com:Z3Prover/z3.git
