[submodule "deps/boost"]
	path = deps/boost
	url = https://github.com/boostorg/boost.git
[submodule "deps/libserialport"]
	path = deps/libserialport
	url = git://sigrok.org/libserialport
[submodule "benchmark/samples"]
	path = benchmark/samples
	url = https://github.com/CyberGrandChallenge/samples.git
