**/Debug/
**/build/
.settings/
.vscode/
intermediate_results/
build_symcc/
build_native/
*.launch
*.ll
*.dot
*.txt
*.md
*.xml
*.png
*.dox
*.cproject
*.native
*.symcc
null.d
.mxproject
.project
*.ioc

